.label{
    display: flex;
    flex-direction: column;
    background-color:#454545;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
    margin-left: -1px;
    text-align: center;
}

.ext{
    color: lightgray;
    font-size: 10px;
}

input[type="file"] {
    display: none;
}
