.input-container {
  position: relative;
  margin-bottom: 26px;
  width: 100%;
}

.input-container label {
  display: block;
  padding: 0 0 6px 6px;
}

.input-container input {
  max-width: 320px;
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 18px;
}

.input-container span {
  display: block;
  position: absolute;
  top: 100%;
  padding-left: 6px;
  color: red;
}
