.inputContainer {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
}

.inputContainer label {
    display: block;
    padding: 0 0 6px 6px;
}

.inputContainer input {
    position: relative;
    width: 100%;
    padding: 10px 0 10px 10px;
    border: 2px solid #0064fb;
    border-radius: 5px;
    font-size: clamp(15px, 1vw, 18px);
    appearance: none;
    background: #1b266b;
    margin-left: -1px;
    color: white;
}

.eyeContainer {
    display: flex;
    position: relative;
}

.inputEye {
    position: absolute;
    right: 10px;
    top: 10px;
}

.betInput {
    margin-left: 50px;
}

.inputContainer input::placeholder {
    color: rgba(255, 255, 255, .2);
}

.inputContainer input:focus {
    outline: 0;
}

.inputContainer input::after {
    background: #1b266b;
}

label {
    color: white;
    margin-left: -7px;
}

.inputContainer span {
    color: white;
}

.error {
    display: block;
    position: absolute;
    top: 100%;
    color: red;
}